@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body{
    font: 16px Arial, Helvetica, sans-serif;
    color: black;
}

h1{
    font-family: 'Courgette', cursive;
    font-size: 4em;
}

#mainBlock{
    padding: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: bisque;
    position: absolute;
    width: 60em;
    height: 38em;
}

#backgroundImg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imagens/background-1500.jpg);
    filter: blur(3px);
    height: 100%;
}

#leftColumn,
#rightColumn{
    float: left;
}

#leftColumn{
    width: 30em;
    margin-right: 10em;
}

#rightColumn{
    width: 15em;
}

p{
    font-family: 'Work Sans', sans-serif;
    text-align: justify;
}

#fonteGoogle{
    font-family: 'Roboto', sans-serif;
}

#fonteLocal{
    font-family: 'Rubik', sans-serif;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fontes/Rubik-VariableFont_wght.ttf') format('truetype');
    font-size: normal;
    font-style: normal;
}